* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-body {
    padding: 0 !important;
}
.modal-header {
    border: none !important;
}
.container-details {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-background-details {
    background-color: cyan;
    object-fit: cover;
    width: 40%;
    height: 80%;
    border-radius: 100%;
}
.img-background-details:hover {
    animation: moving 3s infinite linear alternate;
}
@keyframes moving {
    100% {
        object-position: right;
    }
}
.div1-details {
    background-color: var(--color1);
    height: 100%;
    width: 50%;
    border-right: 2px solid var(--color1);
}
.div2-details {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subdiv1-details {
    background-color: var(--color6);
    height: 80%;
    color: var(--color3);
    padding: 2rem 0 2rem 1.5rem;
}
.subdiv2-details {
    background-color: var(--color6);
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color5);
}
.subdiv2-details button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color3);
    color: var(--color2);
}
.subdiv2-details button:hover {
    background-color: var(--color1);
    color: var(--color6);
    outline: 2px solid var(--color6);
}
.subdiv2-details button:active {
    background-color: lightgrey !important;
    color: var(--color1);
    outline: 2px solid var(--color6);
}
.noMargin {
    margin: 0;
    padding: 0;
}
.containerTitle-details {
    /* background-color: red; */
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.containerStory-details {
    /* background-color: rgb(26, 221, 19); */
    max-height: 70%;
    overflow: auto;
    padding: 10px;
}
/*commentsModal*/

.commentsModal {
    height: 90vh;
}
.modalHeader {
    /* background-color: var(--color3); */
    background-color: var(--color3);
    height: 10%;
}
.modalBody-comments {
    /* background-color: cornflowerblue; */
    height: 90%;
    display: flex;
}
.eachComment {
    background-color: var(--color4);
    width: 30%;
    height: 45%;
    border: 2px solid var(--color1);
    border-radius: 5px;
}
.eachComment img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.commentsForm {
    height: 20%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    border: 2px solid var(--color1);
}
.commentsForm input {
    border: none;
    text-align: center;
    border-bottom: 2px solid var(--color1);
    background: none;
    outline: none;
    color: var(--color1);
}
.commentsForm input::placeholder {
    color: white;
}
.commentsForm button {
    border: none;
    background: none;
    border: 2px solid var(--color1);
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.containerDataAutor {
    /* background-color: crimson; */
    background-color: var(--color6);
    height: 30%;
    display: flex;
    padding: 5px;
    color: var(--color1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.containerComment {
    height: 50%;
    overflow: auto;
    padding: 1rem;
    position: relative;
}
.containerMyComment {
    background-color: var(--color4);
    height: 50%;
    padding: 1rem;
    overflow:auto;
    position:relative
}
.containerButtons {
    /* background-color: lightpink; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    border-top: 2px solid var(--color1);
}
.containerButtons button {
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 10px;
    background-color: var(--color3);
}
.containerButtons button:hover {
    background-color: var(--color1);
    color: var(--color6);
    outline: 2px solid var(--color6);
}
.containerButtons button:active {
    background-color: lightgrey !important;
    color: var(--color1);
    outline: 2px solid var(--color6);
}
.containerButtons button:active {
    background-color: lightgray;
}
.containerInfo {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.containerInfo p {
    padding: 0;
    margin: 0;
}
.containerPhotoAutor {
    /* background-color: yellow; */
    width: 20%;
    height: 100%;
}

.containerNoComments {
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 50%;
}
.containerNoComments img {
    width: 50%;
}
.edited {
    /* background-color: crimson; */
    background-color: var(--textAlert);
    color: white;
    position: absolute;
    right: 0;
    top:0;
    padding:0px 5px 2px 5px;
    border-bottom-left-radius: 10px;
    font-size: 12px;
}
.formModifyComment {
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    outline: 2px solid var(--color1);
}
.formModifyComment textarea {
    background-color: var(--color5);
    width: 80%;
    border: none;
    padding: 10px;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.formModifyComment textarea:hover {
    background-color: lightgray;
}
.formModifyComment textarea:focus {
   background-color: lightgray;
}
.formModifyComment button {
    border: none;
    width: 20%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formModifyComment button:hover p {
    color: var(--color5);
}
.verticalText {
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0 !important;
    font-size: 7px;
    font-weight: bold;
    text-transform: uppercase;
}
.resizeNone {
    resize: none;
}
.cancelModifyComment {
    background-color: lightseagreen;
    color: white;
}
.cancelModifyComment:hover {
    background-color: aquamarine;
    color: lightskyblue;
}
.containerFormComments {
    /* background-color: rgb(168, 38, 38); */
    background-color: var(--color5);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-right: 2px solid var(--color1);
}
.containerComponentComments {
    /* background-color: purple; */
    background-color: var(--color5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    overflow: auto;
    padding:1.5rem;
    row-gap: 1rem;
}
.alertNoText {
    /* background-color: rgb(199, 35, 35); */
    background-color: var(--textAlert);
    color: white;
    position: absolute;
    padding: 1rem;
    top: 20%;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.548);
    font-weight: bold;
    animation: opacity3 500ms ease-out;
}
.containerResponseComment {
    /* background-color: pink; */
    border-top: 2px solid var(--color1);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.containerLike{
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 5px;
}
.containerLike p {
    margin: 0 !important;
}
.containerButtonAnswer {
    /* background-color: rgb(47, 80, 44); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
.containerButtonAnswer button {
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 10px;
    background-color: var(--color3);
}
.containerButtonAnswer button:hover {
     background-color: var(--color1);
    color: var(--color6);
    outline: 2px solid var(--color6);
}
.containerButtonAnswer button:active {
     background-color: lightgrey !important;
    color: var(--color1);
    outline: 2px solid var(--color6);
}
.likeIcon:hover {
    cursor: pointer;
}
.lightGray {
    color: lightgray;
    font-size: 12px;
}
.myComments {
    color: rgb(255, 213, 111);
}