* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-details {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-background-details {
    position: absolute;
    height: 100%;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
}
.div1-details {
    background-color: goldenrod;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.subdiv1-details {
    /* background-color: pink; */
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subdiv1-details p {
    /* background-color: greenyellow; */
    column-count: 3;
    padding: 1rem 2rem;
    font-size: 1.5vw;
}
.subdiv2-details {
    background-color: rgb(177, 33, 57);
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subdiv2-details button {
    padding: 1rem;
}
.div2-details {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

