@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header*/

/*Main*/
/*Section1*/
.main-games {
    background-color: pink;
    height: 190vh;
    display: flex;
}
.div1-games {
    background-color: red;
    width: 80%;
    height: 100%;
}
.div2-games {
    background-color: chocolate;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subdiv1-games {
    background-color: deepskyblue;
    height: 90vh;
}
.sub-subdiv1-games {
    background-color: blueviolet;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
}
.sub-subdiv1-games h2 {
    font-size: 2vw;
}
.sub-subdiv1-games h4 {
    font-size: 1.2vw;
}
.sub-subdiv2-games {
    background-color: lime;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-subdiv2-games img {
    height: 80%;
}
.subdiv2-games {
    background-color: pink;
}
.sub-subdiv3-games {
    background-color: magenta;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-subdiv4-games {
    background-color: mediumseagreen;
    height: 90vh;
}
/*CSS Cards*/
.container-cards {
    background-color: green;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 2rem 2rem 0 2rem;
}

/*Footer*/