@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header*/

/*Main*/
/*Section1*/
.section1-games {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1-games {
    background-color: red;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}
.div2-games {
    background-color: white;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subdiv1-games {
    background-color: pink;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.3vw;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
.subdiv2-games {
    /* background-color: orange; */
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subdiv2-games img {
    width: 70%;
}
.button-getStarted {
    padding: 10px;
    font-family: 'IBM Plex Serif', serif;
    margin-top: 1rem;
}
/*div1*/
.custom-img-fewGames {
    width: 85%;
    height: 15%;
    border: 2px solid white;
    padding: 3px;
    border-radius: 5px;
    object-fit: cover;
}
/*Section2*/
.section2-games {
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3-games {
    /* background-color: coral;
    min-height: 100vh; */
    width: 70%;
}
.div4-games {
    background-color: red;
    width: 15%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}
.subdiv3-games {
    background-color: purple;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subdiv3-games input {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.subdiv4-games {
    background-color: greenyellow;
    min-height: 80vh;
}
/*Footer*/