@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
.header-home {
    height: 10vh;
}

/*Main*/
.main-home {
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-img-navbar {
    width: 25px;
    margin-right: 5px;
}
.custom-typography {
    font-family: 'IBM Plex Serif', serif !important;
    letter-spacing: 1px !important;
    color: darkred !important;
    text-shadow: 1px 0px black;
}
/*Linkrouters*/
.linkrouter-nav {
    padding: 5px;
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
    border-radius: 3px;
}
.linkrouter-nav {
    color: var(--color2);
}
.linkrouter-nav:hover {
    color: var(--color2);
}
.custom-container-nav {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.288) !important;
    background-color: var(--color5) !important;
}
.userImg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: top;
    border: 2px solid grey;
}
/*Footer*/
.footer-home {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
}
.footer-home p {
    font-family: 'IBM Plex Serif', serif;
    color: var(--color1);
}