.container {
    background-color: var(--color3);
    height: 100vh;
    max-width: 100% !important;
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    justify-content: center;
}
.formGeneralSignUp {
    /* background-color: cyan; */
    width: 100%;
    height: 100%;
}
.formGeneralSignIn {
    /* background-color: coral; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerInputs {
    background-color: var(--color5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 80%;
    width:100%;
    animation: opacity 1s ease-in;
    border-top: 2px solid var(--color1);
}
.borderBottom {
    border-bottom: 2px solid var(--color5);
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
}
.borderBottom2 {
    border-bottom: 2px solid var(--color6);
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
}

.containerInputs2 {
    background-color:var(--color6);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 80%;
    width:100%;
    border-top: 2px solid var(--color1);
}

.containerButtonSubmit {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.containerLeftCard {
    /* background-color: red; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftCard {
    /* background-color: purple; */
    height: 80%;
    width: 80%;
    border-radius: 10px;
    border: 2px solid var(--color1);
}
.leftCardTop {
    background-color: lightcyan;
    height: 90%;
}
.leftCardBottom {
    background-color: lightseagreen;
    height: 10%;
}
.containerRightCard {
    /* background-color: lightgreen; */
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eachPhrase {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color1);
    border-radius: 10px;
    position: relative;
    animation: appearPhrase 800ms linear;
}
.eachPhrase2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color1);
    border-radius: 10px;
    position: relative;
    animation: appearPhrase2 800ms linear;
}
@keyframes appearPhrase {
    0% {
        transform: scale(.2);
    }
}
@keyframes appearPhrase2 {
    0% {
        transform: scale(.2);
    }
}
.eachPhrase button {
    border: none;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: lightgray;
    border: 2px solid var(--color1);
    border-top: none;
    position: absolute;
    top: 100%;
    font-weight: bold;
    color: var(--textAlert);
}
.eachPhrase button:hover {
    color: var(--color6);
}
.eachPhrase p {
    margin: 0;
    text-align: center;
    font-family:cursive;
}
.eachPhrase2 button {
    border: none;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: lightgray;
    border: 2px solid var(--color1);
    border-top: none;
    position: absolute;
    top: 100%;
    font-weight: bold;
    color: var(--textAlert);
}
.eachPhrase2 button:hover {
    color: var(--color6);
}
.eachPhrase2 p {
    margin: 0;
    text-align: center;
    font-family:cursive;
}
.poss {
    background-color: red;
    position: absolute;
}
.figure {
    position: relative;
}
.containerAutorPhrase {
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 15vh;
    padding: 30px;
    position: relative;
    border-radius: 0 0 10px 10px;
}
.containerPhrase {
    background-color: rgb(175, 175, 175);
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid var(--color1);
    color: var(--color1);
    border-radius: 10px 10px 0 0 ;
}
.autorPhrase {
    /* background-color: red; */
    position: absolute;
    top: 70%;
    color: var(--color1);
    left: 50%;
    border: 2px solid var(--color1);
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    width: 70%;
    text-transform: uppercase;
}
.containerAutorPhrase img{
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 2px dashed var(--color1);
    padding: 5%;
}
.phrase {
    /* background-color: red; */
    width: 100%;
    /* padding: 10px; */
    /* border-bottom: 2px dashed var(--color1); */
    /* border: 2px double var(--color1);
    border-radius: 10px; */
}
.rightCardTop {
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 30%;
}
.containerForms {
    /* background-color: red; */
    height: 70%;
}
/*Form sign up*/
.input {
 border-radius: 0 !important;
 outline: none !important;
 border: none !important;
 padding:10px !important;
 background: none !important;
 border-bottom: 2px solid var(--color1) !important;
 color: var(--color1) !important;
}
.input:hover {
    background-color: rgba(211, 211, 211, 0.651) !important;
    border-radius: 10px 10px 0 0 !important;
}
.input:focus {
   box-shadow: none !important;
   background-color: rgba(211, 211, 211, 0.651) !important;
   color: var(--color1) !important;
   border-radius: 10px 10px 0 0 !important;
}
.input::placeholder {
    color: var(--color1) !important;
}
.formGroup {
    /* background-color: lightseagreen; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formGroup2 {
    /* background-color: lightseagreen; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.background1 {
    animation: travel-background 20s infinite linear alternate;
    border-radius: 10px 10px 0 0;
}
@keyframes travel-background {
    0% {
        background: url("https://aiptcomics.com/wp-content/uploads/2021/02/Game-Collage-1.jpg") left top / cover no-repeat;
    }
    50%{
        background: url("https://static.alphacoders.com/thumbs_categories/32.jpg") left / cover no-repeat;
    }
    100% {
        background: url("https://c4.wallpaperflare.com/wallpaper/96/92/869/game-games-2014-best-wallpaper-preview.jpg") right bottom / cover no-repeat;
    }
   
}
.background2 {
    background-color: brown;
}
.optionChange {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.473);
}
.wordSignUp {
    background-color: var(--color5);
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px 10px 0 0;
    position:relative;
    outline: 2px solid var(--color1);
}
.wordSignIn {
    background-color: var(--color6);
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px 10px 0 0;
    position:relative;
    outline: 2px solid var(--color1);
}
.hover {
    color: rgba(255, 255, 255, 0.671);
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.473);
}
.hover .borderBottom{
    display: none;
}
.hover .borderBottom2 {
    display: none;
}
.hover:hover {
    cursor: pointer;
}
.customButtonSubmit {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.absolute {
    position: absolute;
    color: var(--color3);
    top:100%;
    font-size: 10px;
    font-weight: bold;
}
.relative {
    position: relative;
}
.sucessDiv {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.582);
    animation: opacity2 700ms ease-out;
}
@keyframes opacity2 {
    0% {
        opacity: .1;
        scale: .1;
    }
   
}
.sucessP {
    color: white;
    background-color: red;
    width: 70%;
    text-align: center;
}
.sucessIcon {
    color: white;
    font-size: 5rem !important;
}
.containerIcon {
    background-color: pink;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerP {
    background-color: cyan;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}