* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*Container general, ubicado en la página signUp*/
.container-general-signUp {
    background: url("https://img.freepik.com/vector-gratis/joystick-vector-seamless_1176-200.jpg?w=740&t=st=1665630181~exp=1665630781~hmac=40007ba15c0337b02944036f1f95af07c77233803ad3caa39c55ef6c675279b9");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-general-signUp {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 1rem;
}
.custom-form-signUp {
    /* background-color: red; */
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Inputs*/
.custom-input-signUp {
    border-radius: 0 !important;
    margin-bottom: 5px !important;
}
.button-submit-signUp {
    border-radius: 0 !important;
    margin-top: 5px !important;
}
/*Imagen ubicada dentro del formulario de signUp*/
.container-img-signUp {
    background-color: rgb(185, 185, 162);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-img-signUp img {
    width: 200px;
}